@model MovieRental.Client.ViewModels.BuyMerchViewModel

<div class="container">
    <div class="h3 bottomMarginDefault">Order merch from your favourite movie.</div>

    <div class="text bottomMarginSmall">We deliver products to the folowing country: @Model.Country</div>
</div>