@model MovieRental.Client.ViewModels.RentMovieViewModel

<div class="container">

    <div class="text bottomMarginSmall">The movie access code will be sent to @Model.Address</div>

    <div class="text">Enjoy the movie!</div>
</div>
