@model MovieRental.Client.ViewModels.ReviewViewModel



@if (User.IsInRole("Subscribed"))
{
    <h2 class="leftMarginSmaller">Leave a review</h2>
    <form asp-action="Review" method="post" class="form-horizontal" role="form">

        <div class="form-horizontal leftMarginDefault">

            <div class="form-group">
                <div>Add Review for @Model.MovieName</div>
                <input asp-for="ReviewText" class="form-control" />
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div class="container">
        <div class="h3">You're not authorized to view this page.</div>
        <div>Would you prefer to <a asp-controller="Home" asp-action="Logout">log in as someone else</a>?</div>
    </div>
}